<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>:-)Equipos</title>
<link rel="stylesheet" href="css/estilos.css" />
</head>
<body>
	<div id="contenedor">
		<header>
			<h1>Liga de fútbol profesional</h1>
		</header>
		<nav>
			<div id="menu">
				<ul>
					<li><a href="Index.html">Home</a></li>
					<li><a href="fixture.html">Fixture y Resultados</a></li>
					<li><a href="equipos.html">Equipos</a></li>
				</ul>
			</div>
		</nav>
		<section id="noticias">

			<div class="container-equipo">
				<div class="card">
					<img src="img/escudo_levante.png" width="200" height="210"
						align="left" />

					<style>
p {
	color: black;
}
</style>

					<p>El Levante Unión Deportiva es un club de fútbol español con
						sede en Valencia que milita actualmente en la Liga Santander. En
						1909 se fundan el Levante Fútbol Club y el Gimnástico Fútbol Club,
						coincidiendo con la fundación de la Federación Valenciana de
						Fútbol. Ambos se fusionaron en 1939 con el nombre de Unión
						Deportiva Levante-Gimnástico, pasando a denominarse Levante Unión
						Deportiva en 1941. De tomarse 1909 como fecha fundacional, el
						Levante sería considerado como club decano del fútbol valenciano.
						El equipo toma el nombre de la playa de Levante, donde estaba
						ubicado su campo de juego, el camp de la platgeta ("campo de la
						playita"), a principios del siglo XX. Debido a sus orígenes en el
						barrio marítimo siempre ha sido considerado el equipo del Cabañal.
						El 2 de febrero de 2020 disputará su partido 500 en primera
						división.</p>
				</div>
				<div class="card">
					<img src="img/escudo_sevilla.png" width="200" height="200"
						align="left" />

					<style>
p {
	color: black;
}
</style>

					<p>El Sevilla Fútbol Club es un club de fútbol español
						organizado como sociedad anónima deportiva. Tiene su sede en
						Sevilla, capital de la comunidad autónoma de Andalucía, y
						actualmente juega en Primera División. Fue fundado el 25 de enero
						de 1890 y su primer presidente fue el vice-cónsul británico Edward
						Farquharson Johnston. Posteriormente fue inscrito en el registro
						de asociaciones el 14 de octubre de 1905, siendo su presidente el
						jerezano José Luis Gallegos Arnosa. El estadio Ramón
						Sánchez-Pizjuán, propiedad del club, es el escenario que utiliza
						el equipo para jugar sus partidos oficiales como local. Está
						situado en el barrio de Nervión y debe su nombre al que fuera
						presidente durante diecisiete años. Tiene capacidad para 43883
						espectadores. Cuenta en su palmarés con varios trofeos y títulos
						que lo convierten en el equipo con más títulos regionales,
						nacionales e internacionales de Sevilla y de toda Andalucía.</p>
				</div>
				<div class="card">
					<img src="img/escudo_villareal.png" width="200" height="200"
						align="left" />
<style>
p {
	color: black;
}
</style>

					<p>El Villarreal Club de Fútbol es un club de fútbol español, de la ciudad de Vila-real, Castellón, 
					   que milita en la Primera División. Se fundó el 10 de marzo de 1923 bajo el nombre de 
					   «Club Deportivo Villarreal», y desde el 17 de junio de 1923 disputa sus encuentros en el Estadio
					   de la Cerámica, con capacidad para 23500 espectadores.
                       Desde la década de 1940, la indumentaria del club se ha caracterizado por el color amarillo de su
                       camiseta, y el equipo es conocido popularmente bajo el apodo de «Submarino Amarillo» o «Submarí Groguet»
                       ()en valenciano). En 2002, se inauguraron las instalaciones de la Ciudad Deportiva del Villarreal,
                       lugar donde entrena el primer equipo y las categorías inferiores.</p>
				</div>
			</div>
		</section>
		<aside>
			<h2>Auspiciantes</h2>
			<div align="center"><img src="img/auspiciante1.jpg" width="150" height="150"></div>
			<div align="center"><img src="img/auspiciante2.png" width="150" height="150"></div>
			<div align="center"><img src="img/auspiciante3.jpg" width="150" height="150"></div>
			<div align="center"><img src="img/auspiciante4.jpg" width="150" height="150"></div>
		</aside>

	</div>
	<footer>
		<h2>Avda.Pedro Ortiz de Zarate N°455 - Tel 388 4789555</h2>
	</footer>
</body>
</html>